.trustee,
.intro,
.request_a_meeting {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.trustee {
  background-image: linear-gradient(to top, transparent, #011445),
    url("../../assets/images/assets_tracking_img.webp");
}

.carousel-container {
  min-width: max-content;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.intro {
  background-image: url("../../assets/images/hero_bg.webp");
}

.request_a_meeting {
  background-image: url("../../assets/images/grid_bg.webp");
}
