.trustee,
.intro,
.request_a_meeting {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.trustee {
  background-image: linear-gradient(to top, transparent, #011445),
    url("../../assets/images/assets_tracking_img.png");
}

.intro {
  background-image: url("../../assets/images/hero_bg.png");
}

.request_a_meeting {
  background-image: url("../../assets/images/grid_bg.png");
}

.founder_img::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 10px;
  height: 100%;
  background: #015b6c;
  border-radius: 8px;
  z-index: -1;
}
