@font-face {
  font-family: "NoirPro";
  src: url("./assets/fonts/NoirPro-Light.woff2") format("woff2"),
    url("./assets/fonts/NoirPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  src: url("./assets/fonts/NoirPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/NoirPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  src: url("./assets/fonts/NoirPro-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/NoirPro-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("./assets/fonts/ArimaMadurai-Medium.woff2") format("woff2"),
    url("./assets/fonts/ArimaMadurai-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("./assets/fonts/ArimaMadurai-Regular.woff2") format("woff2"),
    url("./assets/fonts/ArimaMadurai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("./assets/fonts/ArimaMadurai-Bold.woff2") format("woff2"),
    url("./assets/fonts/ArimaMadurai-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "NoirPro", sans-serif;
  color: #535353;
  width: 100vw;
  overflow-x: hidden;
}

p,
a,
li {
  font-weight: 300;
}

a.active {
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h-text {
  font-weight: 500 !important;
  color: #015b6c;
  font-size: 30px;
}

.p-text {
  font-size: 18px;
}

.v-text-bold {
  font-family: "Arima Madurai", serif;
  font-weight: bold;
}

.v-text-medium {
  font-family: "Arima Madurai", serif;
  font-weight: 500;
}

.v-text-regular {
  font-family: "Arima Madurai", serif;
  font-weight: 400;
}

.vettme-feature1img {
  background: url("./assets/images/feature1img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vettme-feature2img {
  background: url("./assets/images/feature2img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vettme-feature3img {
  background: url("./assets/images/feature3img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vettme-feature4img {
  background: url("./assets/images/feature4img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vettme-feature5img {
  background: url("./assets/images/feature5img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.onboard {
  background: url("./assets/images/subfooterimg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .h-text {
    font-size: 26px;
  }

  .p-text {
    font-size: 16px;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
