@font-face {
  font-family: "NoirPro";
  src: url("./assets/fonts/NoirPro-Light.woff2") format("woff2"),
    url("./assets/fonts/NoirPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  src: url("./assets/fonts/NoirPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/NoirPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  src: url("./assets/fonts/NoirPro-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/NoirPro-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("./assets/fonts/ArimaMadurai-Medium.woff2") format("woff2"),
    url("./assets/fonts/ArimaMadurai-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("./assets/fonts/ArimaMadurai-Regular.woff2") format("woff2"),
    url("./assets/fonts/ArimaMadurai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("./assets/fonts/ArimaMadurai-Bold.woff2") format("woff2"),
    url("./assets/fonts/ArimaMadurai-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NoirPro", sans-serif;
  color: #535353;
  width: 100vw;
  overflow-x: hidden;
}

p,
a,
li {
  font-weight: 300;
}

a.active {
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h-text {
  font-weight: 500 !important;
  color: #015b6c;
  font-size: 30px;
}

.p-text {
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .h-text {
    font-size: 26px;
  }

  .p-text {
    font-size: 16px;
  }
}
